@media (max-width: 576px) {
  .body-text .h1-text {
    font-size: 50px;
  }
  .body-text .h2-text {
    font-size: 25px;
  }
  .body-text .h3-text {
    font-size: 20px;
  }
  .body-text .profile-home {
    width: 330px;
    display: block;
    margin: 0 auto;
  }
  .work-container .work-item-pic {
    width: 60%;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .body-text .h1-text {
    font-size: 50px;
  }
  .body-text .h2-text {
    font-size: 25px;
  }
  .body-text .h3-text {
    font-size: 20px;
  }
  .body-text .profile-home {
    width: 330px;
    display: block;
    margin: 0 auto;
  }
  .work-container .work-item-pic {
    width: 70%;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  html {
    scroll-padding-top: 250px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .body-text .h1-text {
    font-size: 70px;
  }
  .body-text .h2-text {
    font-size: 35px;
  }
  .body-text .h3-text {
    font-size: 20px;
  }

  .body-text .profile-home {
    width: 330px;
  }

  .body-text .designer-text {
    padding-bottom: 20px;
    padding-top: 10px;
  }

  .body-text .designer-info-box {
    padding-bottom: 40px;
  }
}

@media (min-width: 993px) {
}

:root {
  --primary-color: #f59f9e;
  --secondary-color: #ffefe4;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
}

.body-text {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

.h1-text {
  font-size: 85px;
}

.h2-text {
  font-size: 40px;
}

.h2-text-small {
  font-size: 20px;
  font-style: italic;
}

.h3-text {
  font-size: 23px;
  opacity: 0.7;
}

.h2-text-sub {
  font-size: 48px;
  text-align: left;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
}

.resume-btn {
  font-weight: 600;
  color: #33302e;
  text-decoration: none;
  padding: 10px;
  border: 1px solid #ffefe4;
  border-radius: 10px;
  background-color: #ffefe4;
  width: 100%;
  font-size: 15px;
  margin: 0 auto;
  display: block;
}

.resume-btn:hover {
  color: #33302e;
  background-color: #ffcdab;
}

footer {
  background-color: var(--secondary-color);
  text-align: center;
  margin-top: 50px;
  padding: 20px;
}

footer a {
  text-decoration: none;
  color: #33302e;
  font-weight: 600;
}

footer a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.footer-credit {
  font-size: 15px;
  opacity: 0.7;
}

.footer-title {
  font-size: 20px;
  font-weight: 500;
  padding: 20px;
}

.designer-text {
  font-family: "Qwitcher Grypen", cursive;
  font-weight: 700;
  font-style: bold;
  font-size: 60px;
  margin-top: -20px;
}

.designer-text-small {
  font-family: "Qwitcher Grypen", cursive;
  font-weight: 700;
  font-style: bold;
  font-size: 28px;
  padding-right: 10px;
}

.designer-text-work {
  font-family: "Qwitcher Grypen", cursive;
  font-weight: 700;
  font-style: bold;
  font-size: 55px;
}

.dev-text {
  font-family: "Source Code Pro", monospace;
  font-size: 30px;
}

.dev-text-work {
  font-family: "Source Code Pro", monospace;
  font-size: 30px;
  padding-bottom: 15px;
}

.dev-text-small {
  font-family: "Source Code Pro", monospace;
  font-size: 17px;
}

.about a {
  text-decoration: none;
  color: #33302e;
  font-weight: 600;
}

.about a:hover {
  text-decoration: underline;
}

.detail-title {
  font-weight: 700;
}

.navbar-work {
  margin-top: 56px;
}

.work-menu-container {
  padding-top: 7px;
  padding-bottom: 7px;
}

.work-menu-item {
  padding-right: 8px;
  font-size: 15px;
}

.work-menu-link {
  text-decoration: none;
  color: #33302e;
  font-weight: 500;
}

.work-menu-link:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.sticky-top-2 {
  position: sticky;
  top: 55px;
  padding-top: 13px;
  padding-bottom: 10px;
}

html {
  scroll-padding-top: 215px;
}

.work-item-container {
  background-color: #fff6ef;
  padding: 30px 20px 20px 20px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.work-item-pic {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
}

.work-item-text a {
  text-decoration: none;
  font-weight: 600;
  color: #33302e;
}

.work-item-text a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}
